# Python / Compiled / Optimized
*.py[cod]

# C extensions
*.so

*.db

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Eclipse IDE
.project
.pydevproject

# Maya
*.swatch
*.swatches
*.mb
*.psd

# Toontown Infinite Resources
phase_3/maps/tt_t_gui_pat_background.psd
tt_t_gui_pat_background.psd
*.egg
*.sfk

# macOS-specific files
.DS_Store
